* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #b7d8ce;
  }
  
  h1 {
    font-size: 75px;
    font-weight: 500;
    color: #eef4f2;
    font-family: Josefin Sans;
  }

  h1:hover {
    transform: scale(1.15);
  }
  
  h2, h3, h4 {
    color: #eff5f2;
    font-weight: bolder;
    font-family: Cardo;
  }
  
  .btn-primary{
    background-color: #675777;
    border-color: #675777;
    font-family: Open Sans;
  }

  .btn-primary:hover {
    background-color: #bbb0c7;
    border-color: #bbb0c7;
  }
  
  #weather-result {
    display: none;
  }
  
  .navbar {
    height: 120px!important;
    background-color: #675777;
  }

  .input-group {
    font-family: Open Sans;
  }

  .input-group:hover {
    border-color: #ffffff !important;
    box-shadow: 0 0 10px #e4eae9 !important;
  }
  
  #search-section, #location-item,
  .card {
    background-color: #6e9b8d!important;
  }
  
  #search-section {
    height: 100vh;
  }
  
  #five-day-forecast .card {
    border: 1px solid rgb(108, 90, 117)!important;
  }
  
  #search-history li {
    background-color: #c9d9d196;
    color: #9d8aad!important;
  }
  
  #search-history li:hover {
    background-color: #3b214d;
  }
  
  p {
    color: #cadcd2;
    font-family: Playfair Display;
    font-weight: bold;
  }
